@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

section {
    width: 340px;
    padding: 30px;
    background-color: white;
    margin: 50px auto;
    box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

section nav.menu {
    width: 100%;
}

section nav.menu::after {
    content: "";
    display: block;
    clear: both;
}

section nav.menu img:nth-of-type(1) {
    width: 20px;
    height: 20px;
    float: left;
}

section nav.menu img:nth-of-type(2) {
    width: 20px;
    height: 20px;
    float: right;
}

section article.pokemon {
    width: 100%;
    text-align: center;
}

section article.pokemon img {
    width: 200px;
    height: 200px;
    border-radius: 40%;
    margin-bottom: 20px;
    box-shadow: 10px 12px 20px rgba(0, 0, 0, 0.1);
}

section article.pokemon h1 {
    font-weight: bold;
    font-size: 22px;
    line-height: 1;
    color: black;
    margin-top: 15px;
    margin-bottom: 5px;
}

section article.pokemon h2 {
    font-weight: normal;
    font-size: 13px;
    color: gray;
    margin-bottom: 30px;
}

section a.choose {
    display: block;
    width: 180px;
    height: 32px;
    margin: 0px auto 20px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 11px;
    color: white;
    line-height: 32px;
    text-align: center;
    box-shadow: 10px 12px 20px rgba(0, 0, 0, 0.1);
}

section ul.info {
    margin-bottom: 25px;
}

section ul.info li {
    width: 100%;
    padding: 10px 0px;
    border-bottom: 1px solid #eee;
}

section ul.info li:last-child {
    border-radius: none;
}

section ul.info li i {
    width: 20%;
    text-align: center;
    color: #555;
    font-size: 15px;
    text-shadow: 2px 2px 2px #ddd;
}

section ul.info li span {
    font-weight: normal;
    font-size: 11px;
    color: #555;
    letter-spacing: 1px;
}

section ul.info img {
    width: 20px;
    height: 20px;
}

section nav.others {
    width: 100%;
    text-align: center;
}

section nav.others a {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0px 10px;
    opacity: 0.4;
	filter: saturate(0.7);
}

section nav.others a.on {
	opacity: 1;
	filter: saturate(1);
}

section nav.others a:nth-of-type(1) {
    box-shadow: 1px 1px 10px rgba(217, 110, 31, 0.7);
}

section nav.others a:nth-of-type(2) {
	box-shadow: 1px 1px 10px rgba(51, 110, 172, 0.7);
}

section nav.others a:nth-of-type(3) {
	box-shadow: 1px 1px 10px rgba(55, 155, 58, 0.7);
}

body.pokemon1 {
	background-color: rgb(217, 110, 31);
}

body.pokemon1 section article.profile img {
	box-shadow: 5px 15px 30px rgba(230, 145, 94, 0.8);
}

body.pokemon1 section a.choose {
	background: linear-gradient(45deg, rgb(217, 110, 31), rgb(217, 110, 31));
	box-shadow: 5px 10px 20px rgba(rgba(230, 145, 94, 0.493));
}

body.pokemon2 {
	background-color: rgb(51, 110, 172);
}

body.pokemon2 section article.profile img {
	box-shadow: 5px 15px 30px rgba(51, 110, 172, 0.8);
}

body.pokemon2 section a.choose {
	background: linear-gradient(45deg, rgb(51, 110, 172), rgb(51, 110, 172));
	box-shadow: 5px 10px 20px rgba(rgba(51, 110, 172, 0.493));
}

body.pokemon3 {
	background-color: rgb(55, 155, 58);
}

body.pokemon3 section article.profile img {
	box-shadow: 5px 15px 30px rgba(55, 155, 58, 0.8);
}

body.pokemon3 section a.choose {
	background: linear-gradient(45deg, rgb(55, 155, 58), rgb(55, 155, 58));
	box-shadow: 5px 10px 20px rgba(rgba(55, 155, 58, 0.493));
}